<!-- <shared-card [title]="'matters.title' | translate" [borderRadius]="20">
  <shared-search-input headerActions></shared-search-input>
  <shared-table
    body
    [columnsLocalized]="columnsLocalized"
    [paginationClient]="true"
    [data]="data"
    [additionalTableConfig]=""
  ></shared-table>
</shared-card> -->

<!-- <app-shared-matter-table [additionalTableConfig]="additionalTableConfig" [selectMode]="''"></app-shared-matter-table> -->

<shared-card [title]="'matters.title' | translate" [borderRadius]="20">
  <!-- <shared-search-input headerActions></shared-search-input> -->
  <shared-table
    body
    [columnsLocalized]="columnsLocalized"
    [additionalTableConfig]="additionalTableConfig"
    [filterOptions]="filterOptions"
    [apiUrls]="apiUrls"
  ></shared-table>
</shared-card>