<shared-card [borderRadius]="20" [title]="'matters.addMatter' | translate">
  <ng-container body>
    <form class="mt-2 p-lg-2" [formGroup]="formly" (ngSubmit)="onSubmit()">
      <formly-form [form]="formly" [fields]="formlyFields" [model]="formlyModel"></formly-form>
      <p-tabView>
        @for (item of items; track item; let i = $index) {
          @if (item.show) {
            <p-tabPanel [header]="item.label">
              @if (i==0) {
                <app-matter-general [previewOnly]="previewOnly" (onFormSubmit)="getFormData($event)" (formStatus)="getFormStatus($event)"></app-matter-general>
              }
              @if (i==2) {
                <app-matter-address></app-matter-address>
              }
              @if ([practiceArea.Corporate, practiceArea.Litigation,practiceArea.Arbitration].includes(formlyModel?.practsAreaId)) {
                @if (i==1 ||i==3) {
                  <app-matter-party></app-matter-party>
                }
                @if (i==5 ||i==4) {
                  <app-matter-contact></app-matter-contact>
                }
              }
              @if ([practiceArea.IntelecturualProperty].includes(formlyModel?.practsAreaId)) {
                @if (i==3) {
                  <app-matter-applicants  [previewOnly]="previewOnly"></app-matter-applicants>
                }
                @if (i==4 && formlyModel?.law_MtrCatId==8) {
                  <app-matter-class  [previewOnly]="previewOnly" ></app-matter-class>
                }
              }
              @if (i==6) {
                <app-matter-editor-payment-terms></app-matter-editor-payment-terms>
              }
            </p-tabPanel>
          }
        }
      </p-tabView>
      @if (!previewOnly) {
        <div class="mt-4 text-end">
          <p-button [loading]="isSubmit" styleClass="p-button-primary d-block py-3" type="submit"
          label="{{ 'btn.submit' | translate }}"></p-button>
        </div>
      }
    </form>
  </ng-container>
</shared-card>
