<p-multiSelect
  [formControl]="formControl"
  [formlyAttributes]="field"
  [options]="props['options']"
  [showClear]="props['showClear'] || true"
  [filter]="true"
  [placeholder]="props['placeholder']"
  [readonly]="props['readonly']"
  [styleClass]="props['readonly']?'reset-input':''"
  appendTo="body"
  >
  <ng-template let-selected pTemplate="selectedItem" >
    <div class="flex align-items-center gap-2" >
      @if (selected?.img) {
        <img height="26" [src]="'./assets/images/'+ selected.value+ '.png'" [alt]="selected.value">
      }
      @if (selected?.label) {
        <span>{{selected?.label}}</span>
      }
    </div>
  </ng-template>
  <ng-template let-option pTemplate="item">
    <div class="d-flex align-items-center gap-2">
      @if (option['icon']) {
        <i [class]="option['icon']"></i>
      }
      @if (option['img']) {
        <img height="26" [src]="'./assets/images/'+option['img']+ '.png'" [alt]="option['img']">
      }
      <div>{{ option.label }}</div>
    </div>
  </ng-template>
</p-multiSelect>
