<shared-card [borderRadius]="20" [title]="(userId?'users.updateUser':'users.addUser') | translate">
  <form class="mt-2 p-lg-2" [formGroup]="formly" body (ngSubmit)="onSubmit()">
    <formly-form
      [form]="formly"
      [fields]="formlyFields"
      [model]="formlyModel"
    ></formly-form>
    <div class="mt-4 text-end">
      <p-button
        [loading]="isSubmit"
        styleClass="p-button-primary d-block py-3"
        type="submit"
        label="{{ 'btn.submit' | translate }}"
      ></p-button>
    </div>
    @if (userId) {
      <p-tabView>
        @for (item of items; track item; let i = $index) {
          <p-tabPanel [header]="item.label">
            <app-user-editor-default-rate [requestId]="userId"></app-user-editor-default-rate>
          </p-tabPanel>
        }
      </p-tabView>
    }


  </form>
</shared-card>
