<!-- <div class="d-flex w-100" [ngClass]="{'flex-column': props['vertical']}">
  @for (option of props['options']; track option; let i = $index) {
    <div class="radio-filed" [ngClass]="{'radio-checked': i == selectedIndex}">
      <p-radioButton class="me-3" [formControl]="formControl" [formlyAttributes]="field" [value]="option.value" [name]="field.name" (onClick)="selectedIndex = i;onClick()">
      </p-radioButton>
      @if (option.label) {
        <label class="m-0 me-2">{{ option.label }}</label>
      }
      @if (option.img) {
        <img [src]="option.img" alt="">
      }
    </div>
  }
</div> -->




 {{props['options']|json}}
