<div class="position-relative" *ngIf="!isLoading; else loadingSkeleton">
  <p-table
    #dt
    [columns]="columns"
    [value]="data"
    [loading]="isLoading"
    [lazy]="false"
    [resizableColumns]="true"
    [tableStyle]="{ 'min-width': '100%' }"
    [(selection)]="selected || defaultSelected"
    [dataKey]="dataKey"
    [paginator]="paginationClient"
    [rows]="filterOptions?.pageSize"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="currentPageReportTemplate"
    [rowsPerPageOptions]="PAGE_SIZE_OPTION"
    (onRowSelect)="onSelectionChange($event)"
    [selectionMode]="selectMode"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngIf="columnsLocalizedChildren || withCheckbox || withRadioButton"
          style="width: 5rem"
        >
          <p-tableHeaderCheckbox *ngIf="withCheckbox"></p-tableHeaderCheckbox>
        </th>
        <ng-container *ngFor="let col of columns">
          <th
            [pSortableColumn]="col.field"
            [style]="col.style || { 'min-width': '200px' }"
            *ngIf="!col.isExpand"
          >
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>

        <!-- ANCHOR Actions Column -->
        <th *ngIf="tableConfig.actions?.length || actionsTemplateRef">
          {{ "common.actions" | translate }}
        </th>

      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-expanded="expanded"
    >
      <tr [pSelectableRow]="rowData">
        <td *ngIf="withRadioButton">
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td *ngIf="withCheckbox">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngIf="columnsLocalizedChildren">
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="rowData"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td *ngFor="let col of columns">
          <ng-container
            *ngIf="
              !col?.isSwitch &&
              !col?.isStatus &&
              !col.isDate &&
              !col?.isAction &&
              !col?.withIcon &&
              !col.isLargeText
            "
          >
            {{ rowData[col.field] }}
          </ng-container>

          <ng-container *ngIf="col?.isStatus">
            <div class="tag" [ngClass]="getTagClass(rowData[col.field])">
              {{ "tags." + rowData[col.field] | translate }}
            </div>
          </ng-container>
          <ng-container *ngIf="col?.isDate">
            {{ rowData[col.field] | date : "mediumDate" }}
          </ng-container>
          <ng-container *ngIf="col?.isSwitch">
            <p-inputSwitch
              [(ngModel)]="rowData[col.field]"
              (onChange)="onSwitch($event)"
            ></p-inputSwitch>
          </ng-container>

          <ng-container *ngIf="col?.withIcon">
            <img
              [src]="'./assets/images/' + rowData[col.field] + '.png'"
              alt=""
            />
          </ng-container>
          <ng-container *ngIf="col?.isLargeText">
            <ng-container
              *ngIf="rowData[col['field']] && rowData[col['field']].length > 20"
            >
              {{ rowData[col.field] | slice : 0 : 20 }}
              <p-button
                icon="pi pi-ellipsis-h"
                styleClass="p-button-icon-only p-button-info p-0 p-button-text"
                (onClick)="showMore(col?.field, rowData[col['field']])"
              ></p-button>
            </ng-container>
            <ng-container *ngIf="rowData[col['field']]?.length < 20">
              {{ rowData[col.field] }}
            </ng-container>
          </ng-container>
        </td>

        <td
          *ngIf="tableConfig?.actions?.length || actionsTemplateRef"
          style="white-space: nowrap"
        >
          <div class="d-flex align-items-center">
            <ng-container *ngFor="let action of tableConfig?.actions">
              <p-button
                *ngIf="!action.isReadOnly"
                [styleClass]="
                  'p-button-text p-0 me-3 d-flex' +
                  (action.type === 'delete' ? ' p-button-danger' : '')
                "
                type="button"
                (onClick)="onTableAction(action, rowData)"
                [pTooltip]="
                  action.tooltipText ||
                  action.title ||
                  ('btn.' + action.type | translate)
                "
                tooltipPosition="top"
                [styeClass]="action.type === 'delete' ? 'p-button-danger' : ''"
              >
                <i class="fs-4" [ngClass]="['pi pi-' + action?.icon]"></i>
              </p-button>
            </ng-container>

            <ng-container
              *ngIf="actionsTemplateRef"
              [ngTemplateOutlet]="actionsTemplateRef"
              [ngTemplateOutletContext]="{ $implicit: rowData }"
            >
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="rowexpansion"
      let-rowData
      *ngIf="columnsLocalizedChildren"
    >
      <tr>
        <td colspan="7" class="pe-0 ps-5">
          <shared-table
            [columnsLocalized]="columnsLocalizedChildren"
            [additionalTableConfig]="additionalTableConfigChildren"
            [data]="rowData['children']"
            [isPaginator]="false"
          >
          </shared-table>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">No records found</td>
      </tr>
    </ng-template>
  </p-table>
  <div dir="ltr">
    <p-paginator
      *ngIf="!paginationClient"
      (onPageChange)="pageChanged($event)"
      [first]="filterOptions?.pageNo * filterOptions?.pageSize"
      [rows]="filterOptions?.pageSize"
      [totalRecords]="!paginationClient ? totalRecords : data?.length"
      [rowsPerPageOptions]="PAGE_SIZE_OPTION"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="currentPageReportTemplate"
      dropdownAppendTo="body"
      [pageLinkSize]="5"
    ></p-paginator>
  </div>
</div>

<ng-template #loadingSkeleton>
  <p-skeleton
    height="4rem"
    *ngFor="let item of [].constructor(4)"
    styleClass="mb-3"
  ></p-skeleton>
</ng-template>
