.p-inputtext,
.p-dropdown,
.p-multiselect,
.p-treeselect,
.p-calendar,
.p-password,
.iti {
  width: 100%;
  height: 40px;
}

form label {
  font-size: $labelSize;
  color: $labelColor;
  font-weight: $fw-medium;
  margin-bottom: 0.3rem;
}

.p-field {
  @extend .mb-3;
}

label .ng-star-inserted {
  @extend .p-error;
}

.p-calendar-w-btn {
  .p-datepicker-trigger {
    border-top-#{$left}-radius: 0;
    border-bottom-#{$left}-radius: 0;

    border-top-#{$right}-radius: 6px !important;
    border-bottom-#{$right}-radius: 6px !important;
    padding: 0;
    font-size: 1.2rem;
  }

  .p-inputtext {
    border-top-#{$right}-radius: 0;
    border-bottom-#{$right}-radius: 0;
    border-top-#{$left}-radius: 6px !important;
    border-bottom-#{$left}-radius: 6px !important;
  }
}

.radio-h {
  .p-field {
    display: flex;
  }

  label {
    margin-bottom: 0;
    margin-#{$right}: 0.5rem;
  }
}

textarea{
  height: auto !important;
}


[dir=rtl] {
  .iti__flag-container {
    left: 0 !important;
    right: auto !important;
  }

  .iti--allow-dropdown input,
  .iti--allow-dropdown input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
  }

  .iti__arrow {
    margin-left: 6px;
    margin-right: 0;
  }
}

.p-dropdown {
  &-label.p-placeholder {
    line-height: 1.5;
  }

  &-clear-icon {
    #{$left}: unset;
    #{$right}: $inputGroupAddOnMinWidth;
  }
}

.p-checkbox-label {
  margin-#{$left}: 0.5rem;
}


.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  padding-#{$right}: 1.75rem;
  margin-#{$right}: -1.75rem;
  padding-#{$left}: 1.75rem;
  margin-#{$left}: unset;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
  #{$right}: 0.75rem;
  #{$left}: unset
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  white-space: normal;
}

.p-input-icon-right>.p-icon-wrapper,
.p-input-icon-right>i:last-of-type {
  #{$right}: 0.75rem;
  #{$left}: unset
}

input[readonly],
textarea[readonly] {
  all: unset;

  &:focus {
    box-shadow: none;
  }
}
// .p-component{
//   &:disabled{
//     background:#eaeaea
//   }
// }
.reset-input {
  // all:unset;
  border: 0;
  background: transparent;

  .p-dropdown-label {
    padding-right: 0 !important;
  }

  .p-dropdown-trigger,
  .p-dropdown-clear-icon,
  .p-multiselect-trigger,
  .p-multiselect-clear-icon {
    display: none;
  }

  &:focus {
    box-shadow: none;
  }
}

.p-checkbox {
  margin: 0 10px;
}

.card {
  background-color: #f4f5fa;
  border: 1px solid rgba(0, 0, 0, 0.175);
}


.switch-bg.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #ec2425;

  &:hover {
    background: rgba(#ec2425, 0.8);
  }
}