

@mixin active {
  .p-steps-number {
    color: $white !important;
    background-color: $primaryColor !important;
  }

  .p-steps-title {
    font-weight: $fw-medium !important;
    color: $primaryColor;

  }
}

@mixin step-styles {
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background-color: #C6C5CD;
  color: $white;
}

.p-steps {
  ul{
    @include media-breakpoint-down(xs) {
      flex-direction: row
    }
  }

  .p-steps-item {
    &.p-highlight {
      @include active;
      @include media-breakpoint-down(xs) {
        .p-steps-title{
          display: block;
        }
      }
    }

    &.visited {
      opacity: 1;

      &::before {
        border-color: $primaryColor;
      }

      .p-menuitem-link {
        @include active;
      }
    }

    .p-menuitem-link {
      .p-steps-number {
        @include step-styles;
      }


    }
  }

  .p-steps-item:before {
    border-top: 3px solid #dee2e6;
    z-index: 1;
    #{$left}: 50%;
    width: 95%;
  }

  ul li {
    @include media-breakpoint-down(xs) {
      .p-steps-title{
        display: none;
      }
    }

    &:first-of-type:before {
      #{$left}: 50%;
    }

    &:last-of-type:before {
      #{$left}: -50%;
    }
  }

}
