.p-datatable .p-datatable-thead > tr > th{
    font-weight: $fw-medium;
    color: $body-color;
    background: #F3F3F5;
}
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td{
    text-align: unset;

}
.p-datatable .p-datatable-tbody > tr{
  &:focus{
    outline: none;
  }
}
