<div class="row">
  <div class="col-md-7">
    <shared-card [title]="'menu.users.title' | translate" [borderRadius]="20" class="mb-4">
      <shared-search-input headerActions></shared-search-input>
      <shared-table body [apiUrls]="usersApiUrls" [columnsLocalized]="columnsLocalized" [selectMode]="'single'"
        (onRowSelect)="onRowSelect($event)"></shared-table>
    </shared-card>
  </div>
  <div class="col-md-5" *ngIf="selectedRow">
    <shared-card [title]="'security.groups' | translate" [borderRadius]="20" class="mb-4">
      <shared-search-input headerActions></shared-search-input>
      <shared-table body [apiUrls]="permissionApiUrls" [withCheckbox]="true"
        [columnsLocalized]="groupColumnsLocalized" [defaultSelected]="userGroups" (onRowSelect)="onSelectGroupRow($event)"
        (onRowUnSelect)="onRowUnSelected($event)"></shared-table>
    </shared-card>
    <div class="d-flex justify-content-end mt-3">
      <p-button [loading]="isSubmit" styleClass="p-button-primary d-block py-3" *ngIf="userGroups.length==0"
        [disabled]="selectedGroups.length==0" label="{{ 'btn.submit' | translate }}"
        (onClick)="submit('add')" [requiredPermission]="'Update_Security_Users'"></p-button>
      <p-button [loading]="isSubmit" styleClass="p-button-primary d-block py-3" *ngIf="userGroups.length!=0"
        [disabled]="selectedGroups.length==0" label="{{ 'btn.update' | translate }}"
        (onClick)="submit('update')" [requiredPermission]="'Update_Security_Users'"></p-button>
    </div>
  </div>
</div>