<div class="row">
  <div class="col-md-7">
    <shared-card
      [title]="'menu.users.title' | translate"
      [borderRadius]="20"
      class="mb-4"
    >
      <shared-search-input headerActions></shared-search-input>
      <shared-table
        body
        [data]="users"
        [columnsLocalized]="columnsLocalized"
        [selectMode]="'single'"
        (onRowSelect)="onRowSelect($event)"
        (onRowUnSelect)="onRowUnSelect($event)"
      ></shared-table>
    </shared-card>
  </div>
  <div class="col-md-5" *ngIf="selectedRow">
    <shared-card
      [title]="'security.groups' | translate"
      [borderRadius]="20"
      class="mb-4"
    >
      <shared-search-input headerActions></shared-search-input>
      <shared-table
        body
        [data]="groups"
        [withCheckbox]="true"
        [columnsLocalized]="groupColumnsLocalized"
      ></shared-table>
    </shared-card>
  </div>
</div>
