<app-shared-no-data
  *ngIf="data?.length == 0"
>
  <p-button
    styleClass="btn btn-success"
    type="button"
    (onClick)="openDialog()"
    [icon]="'pi pi-plus'"
    [label]="'common.addContacts' | translate"
    button
  >
  </p-button>
</app-shared-no-data>

<ng-container *ngIf="data?.length > 0">
  <div class="text-end mb-4">
    <p-button
    styleClass="btn btn-success"
    type="button"
    (onClick)="openDialog()"
    [icon]="'pi pi-plus'"
    [label]="'common.addContacts' | translate"
    button
  >
  </p-button>
  </div>
  <shared-table *ngIf="!requestId" [additionalTableConfig]="additionalTableConfig" [data]="data"
    [columnsLocalized]="columnsLocalized"></shared-table>
  <shared-table *ngIf="requestId" [additionalTableConfig]="additionalTableConfig" [columnsLocalized]="columnsLocalized"
    [apiUrls]="apiUrls" [filterOptions]="filterOptions"></shared-table>
</ng-container>

