<shared-card [title]="'security.groups' | translate" [borderRadius]="20" class="mb-4">

  <shared-table body [apiUrls]="permissionApiUrls" [withCheckbox]="true" [columnsLocalized]="groupColumnsLocalized"
    [defaultSelected]="userGroups" (onRowSelect)="onSelectGroupRow($event)" (onRowUnSelect)="onRowUnSelected($event)"
    [additionalTableConfig]="additionalTableConfig"></shared-table>
</shared-card>
<div class="d-flex justify-content-end mt-3">
  <p-button [loading]="isLoading" styleClass="p-button-primary d-block py-3" *ngIf="!isUpdate"
    [disabled]="userGroups.length==0" label="{{ 'btn.submit' | translate }}" (onClick)="submit('add')"
    [requiredPermission]="'Update_Security_Users'"></p-button>
  <p-button [loading]="isLoading" styleClass="p-button-primary d-block py-3" *ngIf="isUpdate"
    [disabled]="userGroups.length==0||isArrayChanged" label="{{ 'btn.update' | translate }}" (onClick)="submit('update')"
    [requiredPermission]="'Update_Security_Users'"></p-button>
</div>