<p-steps
  [model]="items"
  [readonly]="true"
  [activeIndex]="activeIndex"
></p-steps>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="text-center">
          <h2>{{ "auth.resetPassword" | translate }}</h2>
          <p>{{ "auth.resetPasswordInThreeSteps" | translate }}</p>
        </div>
        <app-user-id-step-one *ngIf="activeIndex == 0" (onChange)="setActiveIndex($event)"></app-user-id-step-one>
        <app-verfiy-step-two *ngIf="activeIndex == 1" (onChange)="setActiveIndex($event)"></app-verfiy-step-two>
        <app-new-password-step-three
          *ngIf="activeIndex == 2" (onChange)="setActiveIndex($event)"
        ></app-new-password-step-three>
      </div>
    </div>
  </div>
</section>
