<div class="text-center mb-4">
  <h2>{{ "auth.resetPassword" | translate }}</h2>
  <!-- <p>{{ "auth.resetPasswordInThreeSteps" | translate }}</p> -->
</div>
<p-steps
  [model]="items"
  [readonly]="true"
  [activeIndex]="activeIndex"
></p-steps>

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        @if (activeIndex == 0) {
          <app-user-id-step-one
            (onChange)="setActiveIndex($event)"
          ></app-user-id-step-one>
        }
        @if (activeIndex == 1) {
          <app-verfiy-step-two
            (onChange)="setActiveIndex($event)"
          ></app-verfiy-step-two>
        }
        @if (activeIndex == 2) {
          <app-new-password-step-three
            (onChange)="setActiveIndex($event)"
          ></app-new-password-step-three>
        }
      </div>
    </div>
  </div>
</section>
