<form class="mt-2 p-lg-2" [formGroup]="formly" (ngSubmit)="onSubmit()">
  <formly-form
    [form]="formly"
    [fields]="formlyFields"
    [model]="formlyModel"
    [options]="formlyOption"
  ></formly-form>
  <div class="mt-4 text-end">
    <p-button
    *ngIf="!this.previewOnly"
      [loading]="isSubmit"
      styleClass="p-button-primary d-block py-3 mx-4"
      type="submit"
      label="{{ 'Taxes' | translate }}"
    ></p-button>
    <p-button
    *ngIf="!this.previewOnly"
      [loading]="isSubmit"
      styleClass="p-button-primary d-block py-3"
      type="submit"
      label="{{ 'Rate Exeptions' | translate }}"
    ></p-button>
  </div>
</form>
