<shared-card [title]="'menu.taskManagement.calender' | translate" [borderRadius]="20">
  <div headerActions>
    <div class="filter position-relative">
      <p-button icon="pi pi-filter" (onClick)="toggleFilter()"></p-button>
      @if (showFilter) {
        <app-task-management-calender-filter-form (onFilter)="onFilter($event)"
        (onClose)="onClose($event)"></app-task-management-calender-filter-form>
      }
    </div>
  </div>
  @if (calendarOptions) {
    <full-calendar #fullCalendar [options]="calendarOptions" body></full-calendar>
  }
</shared-card>