<p-accordion>
    <p-accordionTab header="Expenses">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <shared-table [data]="data" [columnsLocalized]="columnsLocalized" [withPagination]="true" [withCheckbox]="true"
            [defaultSelected]="defaultSelected" (onRowSelect)="onRowSelect($event)" (onRowUnSelect)="onRowUnSelect($event)"></shared-table>
        <div class="d-flex mt-4 justify-content-between">
            <div>
                <span class="fw-bold">{{'total amount'|translate}} : </span>
                <span>{{totalAmount}}</span>
            </div>
            <button class="px-4 py-2 p-button-outlined-primary" type="button" pButton [label]="'Load Data' | translate"
                (click)="loadData()"></button>
        </div>
    </p-accordionTab>
</p-accordion>