<!-- <div class="mb-3">
  <ngx-dropzone (change)="onSelect($event)" [compress]="true">
    <ngx-dropzone-label>
      <div class="mb-3">
        <i class="fat-upload f-primary" style="font-size: 5rem;"></i>
      </div>
      <span style="color: #343434;">{{'messages.dropClick' | translate}}</span>

    </ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</div> -->
