<shared-card [title]="'security.calender' | translate" [borderRadius]="20" class="mb-4">
    <div headerActions class="d-flex">
        <p-dropdown [showClear]="true" (onChange)="selectUser($event)" [options]="users" optionLabel="name" optionValue="id"
            [filter]="true" filterBy="name" placeholder="Select a users"></p-dropdown>
        <shared-search-input class="ms-2"></shared-search-input>
    </div>
    <shared-table body [data]="data" [filterOptions]="filterOptions" [columnsLocalized]="columnsLocalized"
        (onRowSelect)="onRowSelect($event)"></shared-table>
</shared-card>

<div class="d-flex justify-content-end my-3">
    <p-button [loading]="isSubmit" styleClass="p-button-primary d-block py-3" [disabled]="updatedRows.length==0"
        label="{{ 'btn.submit' | translate }}" (onClick)="submit()"></p-button>
</div>