
<div class="row">
  <div class="col-md-6">
    <form [formGroup]="formly" (ngSubmit)="onSubmit()">
      <shared-card [title]="'profile.resetPassword' | translate" [withTitleDivider]="true">
          <div headerActions>
              <button pButton type="submit" styleClass="mx-3">
                  {{'profile.saveBtn'|translate}}
              </button>
          </div>

          <formly-form body [form]="formly" [fields]="formlyFields" [model]="formlyModel"></formly-form>

      </shared-card>
    </form>
  </div>
</div>
