<!-- 
<ngx-intl-tel-input
  [preferredCountries]="[CountryISO.UnitedArabEmirates]"
  [enableAutoCountrySelect]="false"
  [enablePlaceholder]="true"
  [searchCountryFlag]="true"
  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
  [selectFirstCountry]="false"
  [selectedCountryISO]="CountryISO.UnitedArabEmirates"
  [maxLength]="15"
  [phoneValidation]="true"
  inputId="myInput"
  autocomplete="off"
  [formControl]="formControl"
  [formlyAttributes]="field"
></ngx-intl-tel-input>
@if (formControl.value && !formControl.valid && formControl.touched) {
  <small
    class="p-error ng-star-inserted"
    >
    {{ "validation.phone" | translate }}
  </small>
} -->

<p-inputGroup>
  <p-inputGroupAddon>+20</p-inputGroupAddon>
  <input
    (change)="onKeyUp($event)"
    pInputText
    [formControl]="formControl"
    [formlyAttributes]="field"
    type="tel"
    appTrimWhitespace
    autocomplete="new-password"
  />
</p-inputGroup>

