<div body class="row">
  <div class="col-md-6">
    <small class="text-secondary">{{
      "taskManagement.eventTitle" | translate
    }}</small>
    <p class="fw-bold">{{ data?.law_ActivityType }}</p>
  </div>
  <div class="col-md-6">
    <small class="text-secondary">{{ "common.matterCode" | translate }}</small>
    <p>
      <a href="#" class="fw-bold" (click)="nagivateToMatter($event)" target="_blank">{{ data?.mtrNo }}</a>
    </p>

  </div>

  <div class="col-md-3">
    <small class="text-secondary">{{ "common.from" | translate }}</small>
    <p class="fw-bold">{{data?.startDate | date:'shortTime'}}</p>
  </div>
  @if (data?.endDate && data.law_ActivityTypeId ==4) {
    <div class="col-md-3">
      <small class="text-secondary">{{ "common.to" | translate }}</small>
      <p class="fw-bold">{{data?.endDate  | date:'shortTime'}}</p>
    </div>
  }
  <div class="col-12">
    <small class="text-secondary">{{ "common.description" | translate }}</small>
    <p class="fw-bold">{{data?.description }}</p>
  </div>
</div>
