<app-shared-no-data
  *ngIf="data?.length == 0 ||data==null"
>
  <p-button
    styleClass="btn btn-success"
    type="button"
    (onClick)="openDialog()"
    [icon]="'pi pi-plus'"
    [label]="'client.addContacts' | translate"
    button
  >
  </p-button>
</app-shared-no-data>

<ng-container *ngIf="data?.length > 0 ">
  <div class="text-end mb-4">
    <p-button
    styleClass="btn btn-success"
    type="button"
    (onClick)="openDialog()"
    [icon]="'pi pi-plus'"
    [label]="'client.addContacts' | translate"
    button
  >
  </p-button>
  </div>
  <shared-table
    [data]="data"
    [columnsLocalized]="columnsLocalized"
    [paginationClient]="false"
  ></shared-table>
</ng-container>

