
<div class="login-content">
<!--   
  <div class="text-center d-lg-none d-block my-5 py-5">
    <img src="assets/images/logo.webp" class="img-fluid w-75" alt="logo"/>
  </div> -->
  <div class="text-center">
    <div class="small-Logo"></div>
    <h2 class="welcoming">{{ "auth.login" | translate }}</h2>
  </div>

  <form
    class="mt-2 p-lg-2"
    [formGroup]="formly"
    (ngSubmit)="onSubmit()"
  >
    <formly-form
      [form]="formly"
      [fields]="formlyFields"
      [model]="formlyModel"
    ></formly-form>
    <div class="mt-4">
      <p-button
        [loading]="isSubmit"
        class="w-100"
        styleClass="p-button-primary d-block w-100 py-3"
        type="submit"
        label="{{ 'auth.login' | translate }}"
      ></p-button>
    </div>
  </form>
</div>
