<!-- ========== Sidebar Start ========== -->

<div class="sidebar" [class.sidebar-hovered]="isHovered" (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false">
  <!-- LOGO -->
  <div class="logo mb-5">
    <a class="d-block" routerLink="/">
      @if (isProduction) {
        <img class="logo-lg img-fluid w-75" src="assets/images/logo.png" alt="Low-logo">
        <img class="logo-sm img-fluid" src="assets/images/logo.png" alt="Low-logo">
      } @else {
        <img class="logo-lg img-fluid w-75" src="assets/images/logo/logolow.png" alt="Low-logo">
        <img class="logo-sm img-fluid" src="assets/images/logo/logolow.png" alt="Low-logo">
      }
    </a>
  </div>
  <ngx-simplebar class="custom-height" #componentRef>
    <!-- Sidebar -->
    <div class="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
        <!-- {{menuItems}} -->
        @for (item of menuItems; track item) {
          @if (item.isTitle) {
            <li class="menu-title">{{ item.label | translate }}</li>
          }
          @if (!item.isTitle && !item.isLayout) {
            <li>
              @if (hasItems(item)) {
                <a href="javascript:void(0);" class="is-parent"
                  [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}">
                  @if (item.icon) {
                    <i [inlineSVG]="'./assets/images/icons/'+item.icon"></i>
                  }
                  <span> {{ item.label | translate }}</span>
                  @if (item.badge) {
                    <span class="badge rounded-pill float-end bg-{{item.badge.variant}}">{{item.badge.text
                      |
                    translate}}</span>
                  }
                </a>
              }
              @if (!hasItems(item)) {
                <a [routerLink]="parentRoute + item.link" class="side-nav-link-ref"
                  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  @if (item.icon) {
                    <i [inlineSVG]="'./assets/images/icons/'+item.icon"></i>
                  }
                  <span> {{ item.label | translate }}</span>
                  @if (item.badge) {
                    <span class="badge rounded-pill bg-{{item.badge.variant}} float-end">{{item.badge.text
                      |
                    translate}}</span>
                  }
                </a>
              }
              @if (hasItems(item)) {
                <ul class="sub-menu" aria-expanded="false">
                  @for (subitem of item.subItems; track subitem) {
                    <li>
                      @if (!hasItems(subitem)) {
                        <a [routerLink]="parentRoute + subitem.link" class="side-nav-link-ref"
                          [attr.data-parent]="subitem.parentId" routerLinkActive="active"
                          [routerLinkActiveOptions]="{exact: true}">
                          {{ subitem.label | translate}}
                        </a>
                      }
                      @if (hasItems(subitem)) {
                        <a class="side-nav-link-a-ref has-arrow" href="javascript:void(0);"
                          [attr.data-parent]="subitem.parentId">
                          {{ subitem.label | translate}}
                        </a>
                      }
                      @if (hasItems(subitem)) {
                        <ul class="sub-menu mm-collapse" aria-expanded="false">
                          @for (subSubitem of subitem.subItems; track subSubitem) {
                            <li>
                              <a [attr.data-parent]="subSubitem.parentId" [routerLink]="parentRoute + subSubitem.link"
                                routerLinkActive="active" class="side-nav-link-ref" [routerLinkActiveOptions]="{exact: true}">
                                {{ subSubitem.label | translate }}
                              </a>
                            </li>
                          }
                        </ul>
                      }
                    </li>
                  }
                </ul>
              }
            </li>
          }
        }
      </ul>
    </div>
  </ngx-simplebar>
  <!-- <div class="logout mb-2" (click)="logout()">
  <a>
    <i class="pi pi-sign-out text-dark"></i>
    <span>{{ 'auth.logout' | translate }}</span>
  </a>
</div> -->
</div>
<!-- Left Sidebar End -->