<div class="w-100"
  [ngClass]="{
    'p-input-icon-left':lang!='ar'?props['icon']:'',
    'p-input-icon-right': lang=='ar'?props['icon']:'',
     }">

  <ng-container>
    @if (props['icon']) {
      <i [class]="props['icon']"></i>
    }
    <input [formControl]="formControl" [formlyAttributes]="field" pInputText [class]="props['class']"
      [readOnly]="props['readOnly']" [type]="inputType" [disabled]="props['disabled']" [max]="props['max']"
      [min]="props['min']" [pKeyFilter]="props['pKeyFilter']" (keyup)="onKeyUp($event)" />

    </ng-container>

    @if (props['type']=='password') {
      <i class="pi show-password" (click)="togglePassword()" [ngClass]="{'pi-eye':!showPassword,'pi-eye-slash':showPassword}"></i>
    }
  </div>