<p-card [style]="getCustomStyle()" [ngClass]="[
    withTitleDivider ? 'borderBottom' : '', isSubCard ? 'sub-card' : '']" [styleClass]="class">

  <ng-template pTemplate="title">
    <div class="d-flex justify-content-between  flex-row">
      <div  [class]="{ 'sub-title': isSubTitle }">
        {{ title }}
        <div>

          <ng-content select="[subTitle]"></ng-content>
        </div>
      </div>
      <div class="header-actions" >
        <ng-content select="[headerActions]"></ng-content>
      </div>
    </div>
  

  </ng-template>

  <div class="card-actions">

    <ng-content select="[actions]"></ng-content>

  </div>

  <ng-content select="[body]"></ng-content>
</p-card>
