<shared-card [title]="'lookups.matterCategory' | translate" [borderRadius]="20">
  <div class="d-flex" headerActions>
    <p-button [label]="'lookups.addMainItem'|translate"  (onClick)="openItemEditor('add','main')" styleClass="py-2 px-4 mx-2"></p-button>
    <p-button [label]="'lookups.addSubItem'|translate"  (onClick)="openItemEditor('add','sub')" styleClass="py-2 px-4 mx-2"></p-button>
    <shared-search-input ></shared-search-input>
  </div>
  <shared-table
    body
    [data]="data"
    [columnsLocalized]="columnsLocalized"
    [columnsLocalizedChildren]="columnsLocalizedChildren"
    [additionalTableConfig]="additionalTableConfig"
    [additionalTableConfigChildren]="additionalTableConfigChildren"
    [paginationClient]="true"
  >
  </shared-table>
</shared-card>
