<div class="row">
  <div class="col-md-5">
    <shared-card [title]="'lookups.mainList' | translate" [borderRadius]="20" [style]="{'marginBottom':'1.5rem'}">
      <div class="d-flex" headerActions>
        <!-- <p-button [label]="'lookups.addMainItem'|translate"  (onClick)="openItemEditor('main')" styleClass="py-2 px-4 mx-2"></p-button> -->
        <!-- <shared-search-input ></shared-search-input> -->
      </div>
      <shared-table
        body
        [data]="data"
        [columnsLocalized]="columnsLocalized"
        [selectMode]="'single'"
        (onRowSelect)="onRowSelected($event)"
        [withPagination]="false"
        
      >
      </shared-table>
    </shared-card>
  </div>
  <div class="col-md-7">
    <shared-card [title]="subTitle" [borderRadius]="20" *ngIf="selectedRow">
      <div class="d-flex" headerActions>
        <p-button [label]="'lookups.addSubItem'|translate"  (onClick)="openItemEditor('sub')" styleClass="py-2 px-4 mx-2"></p-button>
        <shared-search-input ></shared-search-input>
      </div>
      <shared-table
        body
        [columnsLocalized]="columnsLocalizedChildren"
        [additionalTableConfig]="additionalTableConfigChildren"
        [apiUrls]="apiUrls"
        [mapData]="mapData"
      >
      </shared-table>
    </shared-card>

  </div>
</div>

