<div body class="row">
  <div class="col-md-6">
    <small class="text-secondary">{{
      "taskManagement.eventTitle" | translate
    }}</small>
    <p class="fw-bold">{{ config.data["event"]?.title }}</p>
  </div>
  <div class="col-md-6">
    <small class="text-secondary">{{ "common.matterCode" | translate }}</small>
    <p>
      <a href="#" class="fw-bold" (click)="nagivateToMatter($event)">{{ config.data["event"]?.matterCode }}</a>
    </p>

  </div>
  <div class="col-md-6">
    <small class="text-secondary">{{ "common.priority" | translate }}</small>
    <p class="fw-bold" >{{ config.data["event"]?.priority }}</p>
  </div>
  <div class="col-md-3">
    <small class="text-secondary">{{ "common.from" | translate }}</small>
    <p class="fw-bold">{{ config.data["event"]?.from  | date:'shortTime'}}</p>
  </div>
  <div class="col-md-3">
    <small class="text-secondary">{{ "common.to" | translate }}</small>
    <p class="fw-bold">{{ config.data["event"]?.to  | date:'shortTime'}}</p>
  </div>
</div>
