@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}
@mixin fat-icon($class-name, $image-path) {
  .#{$class-name} {
      background-image: url(../../images/icons/#{$image-path});

  }
}
